/* Utility. Variables and misc rules go here. */

:root{
    --header-image: url('https://github.com/krlhBlupine/krlhBlupine/blob/main/assets/backgroundA.png');

}

body {
    height: 80vh;
    width: 100%;
    overflow-x:hidden;
    background: black
}

header, main, footer, .nav_arrows{
    border:1px black solid
}

.flex{
    display: flex;
}

.sidespace{
    flex-basis: 100%;
    position:sticky;
    z-index: 2;
}

.container{
    max-width: 900px;
    flex-shrink: 0px;
    background-image: var(--header-image) repeat-y 60% 50%;
    background-color: #ffffff;
}

footer{
    margin-top: 20px;
    height: 30px;
    margin-bottom: 0px;
}

/* Left part of the main display. Contains the iframe and the website title. */

.left{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
}

header{
    height: 30px;
}

main{
    width: 100%-1px;
    max-height: 95%;
    height: 626px;
    padding: 5px;
}

    main p{
        margin-top: 5px;
        margin-bottom: 3px;
    }

/* Right part of the display. Contains a space for a decoration image as well as the sliding side menus. */ 

.right{ 
    width:400px;
}

.decoration{             /* <-- Space for a  background image or such. */ 
    width: 100%;
    height: 100%;
}

.bar_row{                /* <-- Flexbox holding the row of menus. */
    height: 600px;
    margin-top: 40px;
}

.popbar{                 /* <-- Class for the bits you hover over. */
    display: flex;
    flex-basis: 33%;
    height: 120px;
    width: 20px;
    margin-top: 20px;
    flex-direction: column;
    background-color: #aee2a9;
  }
  
    .popbar p{
        text-align:center;
        min-height: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

  #slider_a, #slider_b, #slider_c, #slider_d {
    position: absolute;
    width: 500px;
    max-width: 500px;               /*  Styles for the sliding menus. */
    height: 120px;                  /*  Imported from codepen at https://codepen.io/mignunez/pen/rNwVygZ */
    z-index: 1;                     /*  and thouroughly vivisected. */
    background: #aee2a9;
    transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
  }
  
   .slide-in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
  } 
  
      
  @keyframes slide-in {
      100% { transform: translateX(500px); }
  }
  
  @-webkit-keyframes slide-in {
      100% { -webkit-transform: translateX(500px); }
  }
  
  .slide-out {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
  }
      
  @keyframes slide-out {
      0% { transform: translateX(0px); }
      100% { transform: translateX(-500px); }
  }
  
  @-webkit-keyframes slide-out {
      0% { -webkit-transform: translateX(0px); }
      100% { -webkit-transform: translateX(-500px); }
  }


/* ---END SLIDER RULES--- */

.popout{
    display:flex;
    text-align:center;
}

.popbox{
    flex:100%;
    padding: 10px;
    border: 1px black;
    z-index: 1;
}